@page "/print"
@inject NavigationManager NavigationManager
@inject ChatAppNET8.Client.Services.SignalRService SignalRService
@using ChatAppNET8.Client.Services
@using static ChatAppNET8.Client.Services.SignalRService

<h1>Printing Example</h1>

<button @onclick="PrintDocument">Print Document</button>

<p>@printStatus</p>

@code {
    private string printStatus = "";

    private async Task PrintDocument()
    {
        try
        {
            // change to real IP
            string printerIp = "10.5.5.53";
            string documentPath = "\\test\test.txt"; // this probably needs to be be in the solution directory. test in AM.

            await SignalRService.PrintDocumentAsync(printerIp, documentPath);

            printStatus = "Printing...";
        }
        catch (Exception ex)
        {
            printStatus = $"Error: {ex.Message}";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await SignalRService.StartPrintHubConnectionAsync("http://localhost:5275/printhub"); //url declared -

        SignalRService.OnPrintCompleted += (message) =>
        {
            printStatus = message;
            StateHasChanged();
        };
    }

    public void Dispose()
    {
        SignalRService.StopConnectionAsync();
    }
}